// Colors
$base-color: #faf9f4;
$accent-color: #eac300;
$dark-color: #292929;
$white-color: #fff;
$secondary-color: #ccc;

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-color: #333;
$font-color-white: #fff;

// Grid
$base-gutter: 5px;
$max: 1000px;

//Apperance
$rounded: 5px;
